/* line 1, ../sass/adaptive-modal.scss */
.am-overlay { height: 100%; width: 100%; background: rgba(255, 255, 255, 0.98); opacity: 0; position: fixed; left: 0; right: 0; top: 0; z-index: 100; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; overflow: auto; }

/* line 18, ../sass/adaptive-modal.scss */
.am-close-backdrop { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; }

/* line 27, ../sass/adaptive-modal.scss */
.am-modal { position: absolute; z-index: 101; }

/* line 32, ../sass/adaptive-modal.scss */
.am-modal-open { overflow: hidden; }

/* line 36, ../sass/adaptive-modal.scss */
.am-modal-open .am-overlay { opacity: 1; }

/* line 40, ../sass/adaptive-modal.scss */
.am-modal { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -webkit-perspective: 1000; -moz-perspective: 1000; -o-perspective: 1000; perspective: 1000; }

/* line 51, ../sass/adaptive-modal.scss */
.am-modal.am-flipped .am-wrapper, .am-modal.am-flipped .am-wrapper { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }

/* line 58, ../sass/adaptive-modal.scss */
.am-wrapper { -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -moz-transition: 0.6s; -moz-transform-style: preserve-3d; -o-transition: 0.6s; -o-transform-style: preserve-3d; transition: 0.6s; transform-style: preserve-3d; position: relative; }

/* line 71, ../sass/adaptive-modal.scss */
.am-front, .am-back { -webkit-backface-visibility: hidden !important; -moz-backface-visibility: hidden !important; -o-backface-visibility: hidden !important; backface-visibility: hidden !important; position: absolute !important; top: 0 !important; left: 0 !important; }

/* line 83, ../sass/adaptive-modal.scss */
.am-front { z-index: 2 !important; }

/* line 87, ../sass/adaptive-modal.scss */
.am-back { background: #f1f1f2; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

/* line 99, ../sass/adaptive-modal.scss */
.am-modal-content { visibility: hidden; }

/* line 103, ../sass/adaptive-modal.scss */
.am-back > .am-modal-content > * { visibility: hidden; }

/* line 107, ../sass/adaptive-modal.scss */
.am-expanded.am-modal { width: 800px; top: 50px; margin-bottom: 50px; left: 50%; margin-left: -400px; }

/* line 115, ../sass/adaptive-modal.scss */
.am-expanded.am-back { width: 800px; margin-top: 1em; }

/* line 120, ../sass/adaptive-modal.scss */
.am-sample { width: 100%; position: fixed; visibility: hidden; display: block; }

/* line 127, ../sass/adaptive-modal.scss */
.am-close { color: #333; width: 25px; height: 25px; line-height: 100%; text-align: center; display: block; position: absolute; top: 10px; right: 10px; opacity: 0.7; font-size: 24px; }

/* line 140, ../sass/adaptive-modal.scss */
.am-close:visited { color: #555; }

/* line 143, ../sass/adaptive-modal.scss */
.am-close:hover, .am-close:active { color: #555; opacity: 1; }

/* line 148, ../sass/adaptive-modal.scss */
.animated { visibility: visible !important; -webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; -o-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes scaleShow { 0% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); }
  100% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); } }
@-moz-keyframes scaleShow { 0% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); }
  100% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); } }
@keyframes scaleShow { 0% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); }
  100% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); } }
/* line 215, ../sass/adaptive-modal.scss */
.scaleShow { -webkit-animation-name: scaleShow; -moz-animation-name: scaleShow; -o-animation-name: scaleShow; animation-name: scaleShow; }

@-webkit-keyframes scaleHide { 0% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); }
  100% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); } }
@-moz-keyframes scaleHide { 0% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); }
  100% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); } }
@keyframes scaleHide { 0% { opacity: 1; -webkit-transform: scale(1) translateY(0px); -moz-transform: scale(1) translateY(0px); -o-transform: scale(1) translateY(0px); transform: scale(1) translateY(0px); }
  100% { opacity: 0; -webkit-transform: scale(0.85) translateY(-5px); -moz-transform: scale(0.85) translateY(-5px); -o-transform: scale(0.85) translateY(-5px); transform: scale(0.85) translateY(-5px); } }
/* line 276, ../sass/adaptive-modal.scss */
.scaleHide { -webkit-animation-name: scaleHide; -moz-animation-name: scaleHide; -o-animation-name: scaleHide; animation-name: scaleHide; }

@media screen and (max-width: 568px) { /* line 284, ../sass/adaptive-modal.scss */
  .am-expanded.am-modal { margin-left: -66%; width: 100%; top: 0; }
  /* line 289, ../sass/adaptive-modal.scss */
  .am-expanded.am-back { width: 70%; }
  /* line 292, ../sass/adaptive-modal.scss */
  .am-modal-content img { margin: 3em 0em 1em 0em; float: none; } }
