@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
body>header, body>nav, body>section {
  max-width: 1000px;
  width: 90%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', Helvetica, sans-serif;
}
header {
  margin: 0 auto;
  height: 365px;
  background: url(../img/logo.png) 50% 0/70% no-repeat;
  position: relative;
}
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav>ul li {
  display: inline-block;
  color: #333;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: block;
  font-size: .8em;
}
nav>ul li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}
nav>ul li:last-child a {
  border-right: none;
}
nav>ul li a:hover {
  color: #000;
}
nav li>ul {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display: none;
}
nav li ul li {
  display: block;
}
nav li ul li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}
nav li ul li:last-child a {
  border-bottom: none;
}

nav li ul li a:hover {
  color: #000;
  background: #eeeeee;
}
nav>ul li:hover ul {
  display: block;
  background: #fff;
}
nav>ul li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}
@media only screen and (max-width: 767px) {
  header {
    height: 320px;
    background-size: 100%;
  }
  nav a {
    font-size: .7em;
  }
  nav>ul li {
    display: block;
  }
  nav ul li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }
  nav ul li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  nav ul li ul {
    display: none;
    position: static;
    box-shadow: none;
    width: 100%;
  }
  nav ul li ul li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  nav ul li ul li a:hover {
    color: #ccc;
    background: none;
  }
}
section {
  margin: 0 auto;
  height: 1000px;
  background: rgba(255,255,255,.8);
  position: relative;
  box-shadow: 0 0 10px rgba(27,27,27,.3);
}
aside {
  width: 35%;
  padding: 1em 2% 1em 4%;
  top: 0;
  bottom: 0;
  position: absolute;
}
aside .social a {
  font: 400 1em 'entypo';
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em .3em 0 .3em;
  margin: .5em 0;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}
aside .social .facebook, aside .social .facebook:before {
  background: #4b70ab;
  content: "\F30C";
}
aside .social .instagram, aside .social .instagram:before {
  background: #6291b2;
  content: "\F32D";
}
aside .social .twitter, aside .social .twitter:before {
  background: #32b9e7;
  content: "\F309";
}
aside .social .gplus, aside .social .gplus:before {
  background: #fa5432;
  content: "\F30F";
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
