.col {
	padding: 0 1.5em;
}
.row {
	.row {
		margin: 0 -1.5em;
	}
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@media only screen {
	.col {
		float: left;
		width: 100%;
		@include box-sizing(border-box);
	}
}
