@import "effects";
@import "variables";

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background: #111 url(../img/background.png);
  font: $regular 100% $family;
  section {
    margin-bottom: 5em;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $family;
  font-weight: $regular;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #333;
  @include transition(.2s all);
  &:hover {
    color: #52e100;
  }
  nav & {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-size: .8em;
  }
}
header {
  height: 80vh;
  position: relative;
  overflow: hidden;
    @media screen and (max-width: 568px) {
      height: 60vh;
    }
    div {
      background: #000 url(../img/header.jpg) no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    img[src="img/logo.png"] {
      margin: 0 auto;
      display: block;
      @media screen and (max-device-width: 568px) and (orientation: landscape) {
        max-width: 70% !important;
      }
      @media screen and (max-device-width: 568px) {
        max-width: 100%;
        opacity: 1;
        @include transform(scale(1));
        margin: 6vh auto 0 auto;
      }
      @media screen and (min-device-width: 568px) {
        @include zoomIn;
        max-width: 100%;
      }
    }
}
@import "nav";

section {
  background: url(../img/main.png);
  box-shadow: 0 0 15px #111;
  .front {
    background: url(../img/front_background.jpg) 0/100%;
    margin-top: gutter()*2 !important;
    margin-bottom: gutter()*2;
    text-align: center;
    @include filter-shadow(0,10px,5px,rgba(0,0,0,.3));
    img {
      @include filter-shadow;
      display: inline-block;
      max-width: 95%;
      cursor: pointer;
      @include transition(.1s all);
      &:hover {
        @media screen and (min-width: 568px) {
          @include filter-shadow-color;
        }
      }
    }
    img.l {
      margin: gutter()*4;
      width: span(4 of 4);
    }
    img.m {
      margin: gutter() 0 gutter() gutter();
      width: span(2 of 4);
    }
    img.s {
      margin: gutter() 0 gutter() gutter();
      width: span(3 of 9);
    }
    img.xs {
      margin: gutter() 0 gutter() gutter();
      width: span(2 of 8);
    }
  }
}
.volunteer {
    p {
        text-align: center;
        font-size: .8em;
        a {
            text-decoration: underline;
        }
    }
}
.modals {
  display: none;
}
.am-modal-content img {
  margin: 3em 0px 2em 2em;
  float: right;
}
main {

}
* img {
  max-width: 100%;
}
footer {
  min-height: 2.5em !important;
  .social {
    min-height: 1em !important;
    img {
      margin: 0 .5em;
    }
    img:hover {
      box-shadow: 0 0 3px rgba(27,27,27,.8);
      @include transition(.4s all);
    }
  }
}
