@import "animations";
@import "variables";

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

html,body {
  margin: 0;
  padding: 0;
}
body {
  background: #111 url(../img/background.png);
  font: $regular 100% $family;
  section {
    margin-bottom: 5em;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $family;
  font-weight: $regular;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #333;
  @include transition(.2s all);
  &:hover {
    color: #52e100;
  }
  nav & {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-size: .8em;
  }
}
header {
  height: 80vh;
  position: relative;
  overflow: hidden;
    @media screen and (max-width: 568px) {
      height: 50vh;
    }
    div {
      background: #000 url(../img/header.jpg) no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    img[src="img/logo.png"] {
      margin: 0 auto;
      display: block;
      @media screen and (max-device-width: 568px) and (orientation: landscape) {
        max-width: 70% !important;
      }
      @media screen and (max-device-width: 568px) {
        max-width: 100%;
        opacity: 1;
        @include transform(scale(1));
        margin: 6vh auto 0 auto;
      }
      @media screen and (min-device-width: 568px) {
        @include zoomIn;
        max-width: 100%;
      }
    }
}
@import "nav";

section {
  background: url(../img/main.png);
  box-shadow: 0 0 15px #111;
}
main {

}
* img {
  max-width: 100%;
}
aside {
  span {
    color: #999;
    font-size: .8em;
    margin: -1.3em 0 -1em 0;
    display: block;
  }
}
.social img:hover {
  box-shadow: 0 0 3px rgba(27,27,27,.8);
  @include transition(.4s all);
}
