@-moz-keyframes fadeIn {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* line 40, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/screen.scss */
body {
  background: #333;
  font: 400 16px "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  height: 2000px;
}

/* line 49, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

/* line 53, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #fff;
}
/* line 56, ../sass/screen.scss */
a:hover {
  color: #333;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 60, ../sass/screen.scss */
nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-size: .8em;
}

/* line 67, ../sass/screen.scss */
section {
  display: none;
}

/* line 70, ../sass/screen.scss */
nav {
  background: #222;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
/* line 78, ../sass/screen.scss */
nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 200;
}
/* line 85, ../sass/screen.scss */
nav ul {
  width: 100%;
  margin: 19px 0 0 0;
}
/* line 89, ../sass/screen.scss */
nav li {
  display: inline-block;
  border-right: 1px solid #555;
  padding: 0 1em;
}
/* line 93, ../sass/screen.scss */
nav li:last-child {
  border-right: none;
}

/* line 98, ../sass/screen.scss */
header {
  height: 80vh;
  position: relative;
  overflow: hidden;
}
/* line 102, ../sass/screen.scss */
header div {
  background: #333 url(../img/20140829_22_00357-2.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 110, ../sass/screen.scss */
header img[src="img/logo.png"] {
  -moz-animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
